.header{
    height: 100%;
    width:100%;
    background:#232f3e;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
}

.logo-image{
    height: 65px;
    width: 200px;   
    background-image:url("../../assets/logoName.png");
    background-repeat:   no-repeat;
    background-position: center center;
    margin-bottom: 10px;  
}