<div class="table-wrapper">
  <mat-accordion multi="true">

    <div *ngFor="let day of hours | customGroupBy : 'Date'">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{day.key | date: 'dd/MM/yyyy'}}
          </mat-panel-title>
          <mat-panel-description>
            {{ day.value | sum: 'Time'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let proyect of day.value | customGroupBy : 'ProjectId'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{proyect.key}}
              </mat-panel-title>
              <mat-panel-description>
               {{ proyect.value | sum: 'Time'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let hour of proyect.value ">
              <p>Tags : {{hour.Tag}}</p>
              <p>Descripción : {{hour.Description}}</p>
              <p>Time : {{hour.Time}}</p>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

  <button mat-button class="margin" (click)="gethours()">gethours</button>
  <button mat-button class="margin" (click)="fillHoras()">fillHoras</button>
  <button mat-button class="margin" (click)="updateHour()">updateHours</button>

</div>