.mat-expansion-panel {
    width: 90%;
}

.mat-expansion-panel-header {
    background-color: #2f8e2f !important;
}



.mat-expansion-panel-header-title {
    color:white;
}

.mat-expansion-panel-header-description{
    color:white;
}


.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: #2f8e2f;
}

.mat-expansion-panel-header.mat-expanded:hover {
    background-color: #2f8e2f;
}

.mat-expansion-panel {
    margin-top: 20px;
}

.margin {
    margin-top: 20px;
}