.opt1{
  width: 100%;
  height: 80%;
  background-image: url("../../../assets/OptionsImages/opt1.png");
  opacity: 1;
}
.example-margin {
  margin: 0 10px;
}

.mat-progress-spinner {
    color: red;
}

.example-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.mat-table {
  overflow: auto;

}