<div class="wrapper" [ngClass]="menuState">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="left-menu">
    <app-left-menu class="app-left-menu" [ngClass]="menuState" (openOrClose)="openCloseMenu($event)"></app-left-menu>
  </div>
  <div class="content" >
    <app-content [menuState]="menuState"></app-content>
  </div>
</div>