.wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header"
                         "left-menu content-area";

    -ms-grid-rows: 70px
                        1fr;

    grid-template-rows: 70px
                        1fr;
    -ms-grid-columns: 200px
                            1fr;
    grid-template-columns: 200px
                            1fr;
    height: 100%;
    position: relative;
    
}

.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
}

.left-menu{
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: left-menu; 
}
.app-left-menu{
    position: absolute;
    height: 100%;
    width: 200px;
    -webkit-transition: width 0.25s ease-in;
    -o-transition: width 0.25s ease-in;
    transition: width 0.25s ease-in; 
}

.app-left-menu.close{
    /* overflow: hidden; */
    width: 60px;   
}

.content{ 
    -ms-grid-row: 2; 
    -ms-grid-column: 2; 
    grid-area: content-area;     
}

.wrapper.close{
    -ms-grid-columns: 200px
                            1fr;
        grid-template-columns: 200px
                            1fr;
}
.wrapper open{
    overflow: auto;
}