<div class="left-menu">
  <div class="menu-header" (click)="closeOpenMenu()">
    <span class="material-icons fixed">menu</span>
  </div>
  <div class="menu">
    <ul>
      <li class="menu item"  routerLink="/opt1" routerLinkActive="active-Link" >
        <span class="material-icons fixed">hd</span>
        <span class="menu name" [ngClass]="menuState" >Opción 1</span>
      </li>
      <li class="menu item" routerLink="/opt2" routerLinkActive="active-Link">
        <span class="material-icons fixed">equalizer</span>
        <span class="menu name" [ngClass]="menuState" >Opción 2</span>
      </li>
      <li class="menu item" routerLink="/opt3" routerLinkActive="active-Link">
        <span class="material-icons fixed">add</span>
        <span class="menu name" [ngClass]="menuState" >Opción 3</span>
      </li>
      <li class="menu item" routerLink="/opt4" routerLinkActive="active-Link">
        <span class="material-icons fixed">sort</span>
        <span class="menu name" [ngClass]="menuState" >Opción 4</span>
      </li>
      <li class="menu item" routerLink="/opt5" routerLinkActive="active-Link">
        <span class="material-icons fixed">attach_money</span>
        <span class="menu name" [ngClass]="menuState" >Opción 5</span>
      </li>
      <li class="menu item" routerLink="/opt6" routerLinkActive="active-Link">
        <span class="material-icons fixed">money_off</span>
        <span class="menu name" [ngClass]="menuState" >Opción 6</span>
      </li>
    </ul>
  </div>
</div>