.left-menu{
    height: 100%;
    width:100%;
    background: #232f3e; 
  }

.menu-header{
    height: 40px;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-header:hover,
.menu.item:hover{
    cursor:pointer;
    background-color: #091622;
    border-left: 10px solid rgb(43, 255, 0); 
    -webkit-transition: all 0.25s ease-in; 
    -o-transition: all 0.25s ease-in; 
    transition: all 0.25s ease-in;
}

.menu.item:focus{
    outline:none;
    background-color: #091622;
    border-left: 10px solid rgb(43, 255, 0); 
  
}
.menu.item{
    color: white;
    height: 40px;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu.name{
    margin-left: 15px;
}

.menu.name.close{
    display:none;
}
.active-Link{
    background-color: #091622;
    border-left: 10px solid rgb(43, 255, 0); 
}