/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin:0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

